aiohttp
numpy
python-dotenv
tqdm
livekit
livekit-agents
livekit-plugins-openai
livekit-plugins-deepgram
livekit-plugins-silero
langgraph-cli==0.1.73
langgraph-sdk==0.1.53
langsmith==0.1.147
langgraph==0.2.66
langgraph-api==0.0.26
langgraph-checkpoint==2.0.16
langchain==0.3.14